:root{
  --cell-size : 120px;
  --cell-gutter: 20px;
}

#gameBoard {
  background-color: rgba(255, 0, 0, 0.7);
  width: 60%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}


#grid {
  height: calc((var(--cell-size) + var(--cell-gutter)) *3);
  ;
  width: calc((var(--cell-size) + var(--cell-gutter)) *3);

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  align-content: space-between;
  justify-content: space-between;

}



.cell {
  height: var(--cell-size);
  width: var(--cell-size);
  border: 4px solid white;
  cursor: pointer;
  border-radius: 15px;

  font-size: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#scoreBoard {
  width: 30%;
  height: 100vh;
  background-color: lightgray;
  padding: 20px;
}

